* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: left;
    background-color: white;
}
main {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
}
main div {
    background-color: #ffed22;
}
#header {
    grid-area: 1/1/2/7;
}
#nav{
    grid-area: 2/1/6/2;
}
#article {
    grid-area: 2/2/5/6;
}
#ads {
    grid-area: 2/6/5/7;
}
#footer{
    grid-area: 5/2/6/7;
}