* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: left;
    font-size: 3em;
}
main {
    display: grid;
    height: 100vh;
    grid-gap: 6px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
main div {
    background-color: #ffd020;
}
#one {
    grid-area: 1/1/2/5;
}
#two {
    grid-area: 2/1/6/2;
}
#three {
    grid-area: 2/2/3/3;
}
#four {
    grid-area: 2/3/3/5;
}
#five {
    grid-area: 3/2/4/4;
}
#six {
    grid-area: 3/4/4/5;
}
#seven {
    grid-area: 4/2/5/3;
}
#eight {
    grid-area: 4/3/5/4;
}
#nine {
    grid-area: 4/4/5/5;
}
#ten {
    grid-area: 5/2/6/5;
}

