
* {
    box-sizing: border-box;
}
body {
    margin: 0;

}
nav {
    background: #C1C1C1;
    height: 3em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* made unordered list a flex container */
}
nav a {
    text-decoration: none;
    color: black;
    font-family: "Work Sans";
    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: 1em; /* increases clickable area of anchor tags on all sides by 1em */
}
nav a:hover {
    background: black;
}

nav ul li:nth-child(5) {
    display: flex;
    align-self: flex-end;
}

.logo-div {
    display: flex;
    flex-basis: 20%;
}
