
* {
    box-sizing: border-box;
}
body {
    margin: 0;

}
nav {
    background: #C1C1C1;
    /*display: flex;*/
    /*margin: auto;*/
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* made unordered list a flex container */
}
nav a {
    text-decoration: none;
    color: black;
    font-family: "Work Sans";
    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: 1em; /* increases clickable area of anchor tags on all sides by 1em */
}
nav a:hover {
    background: blue;
}

nav ul li:nth-child(6) {
    display: flex;

}

.logo-div {
    display: inline-block;
    margin: 0 auto;
    font-size: 3em;
    padding: .2em;
    font-family: 'Montserrat', sans-serif;
}

