
/** {*/
/*    box-sizing: border-box;*/
/*}*/
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
nav {
    background: #C1C1C1;
    /*display: flex;*/
    height: 4.25em;
}

nav ul {
    list-style: none; /*gets rid of bullet points*/
    padding: 0;
    margin: 0;
    height: inherit; /*avoids explicit height*/
    align-items: center; /*puts list items in center  of bar*/
    display: flex; /* made unordered list a flex container */
}
nav a {
    text-decoration: none;
    color: black;
    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: 1em; /* increases clickable area of anchor tags on all sides by 1em */
}
nav a:hover {
    color: blue;
}

nav li {
    margin: .5em;
}

li:nth-child(6) {
    margin-left: auto;
}

.logo-item {
    display: flex;
    margin: 0;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    height: inherit;
    width: 100%;
}

.logo {
    margin: auto;
    padding-top: .2em;
    padding-bottom: .2em;
}

li:not(.logo-item) {
    z-index: 1;  /*allows to bring elements forwards and backwards*/
}

