* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: left;
    background-color: mediumpurple;
}
#wrapper {
    display: grid;
    grid-gap: 5px;
    background-color: #58d1ff;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
}
header ul {
    list-style: none;
    align-items: center;
    display: flex;
    padding-left: 1em;
    color: black;
}
header {
    grid-area: 1/1/2/9;
    background-color: rgba(64,64,64,0.8);
}
header a {
    text-decoration: none;
    padding: 1em;
    display: inline-block;
}
nav {
    grid-area: 2/1/11/2;
    background-color: rgba(64,64,64,0.75);
}
nav ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    list-style: none;
    align-self: flex-start;
}
nav a {
    text-decoration: none;
    /*padding: 1em;*/
    display: inline-block;
}
main {
    grid-area: 2/2/9/9;
    display: flex;
    flex-direction: column;
    background-color: rgba(64,64,64,0.57);
}
/*main div {*/
/*    display: grid;*/
/*    justify-content: right;*/
/*}*/
/*.ad1 {*/
/*    display: flex;*/
/*    flex-basis: 20%;*/
/*    border: 1px solid black;*/
/*}*/
/*.ad2 {*/
/*    display: flex;*/
/*    flex-basis: 20%;*/
/*    border: 1px solid black;*/
/*}*/
/*.ad3 {*/
/*    display: flex;*/
/*    flex-basis: 20%;*/
/*    border: 1px solid black;*/
/*}*/
#footer {
    grid-area: 9/2/10/9;
    background-color: rgba(38,38,38,0.93);
    display: flex;
    align-items: flex-end;
}
#footer2 {
    grid-area: 10/2/11/9;
    background-color: rgba(17,17,17,0.86);
    display: flex;
    align-items: flex-end;
}

