.form-inline {
    margin-right: auto;
    margin-left: 0;
}
#main-jumbotron {
    background-image:url("img/pizza.png");
    background-size: cover;
    background-position: center;
    height: 50vh;
}
h1 {
    text-align: center;
    background-color: white;
    opacity: .75;
    color: gray;
}
.btn-primary {
    width: 15%;
}
.container {
    padding-right: 0;
    padding-left: 0;
}
.btn-group {
    text: right;
}